@model IEnumerable<DSW1_CL1_CastilloTaraEnzo.Models.Insumo>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.codIns)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.desIns)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codCate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.preciou)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stockIns)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codIns)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.desIns)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codCate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.preciou)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stockIns)
            </td>
        </tr>
}
    </tbody>
</table>
